// Theme common styles

.main {
    height: 100%;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 306px auto;
}

.sidebar {
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-direction: column;
    background: $color-white;
    box-shadow: $container__box-shadow;
    padding: 37px 28px;
}

.main-content {
    grid-area: main;
    padding: 41px 95px 41px;
    background: $color-gray-4;
}

.sidebar + .main-content {
    padding-left: 71px;
}

.dashboard-container {
    & {
        background: $color-white;
        border-radius: 20px;
        box-shadow: $container__box-shadow;
        padding: 30px 40px 40px;
    }

    .dashboard-table {
        margin-bottom: 30px;
    }
}

.user-welcome {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 51px;
}

.status-filter {
    background: none;
    padding: 0;
    color: $color-green-2;
    font-size: 14px;
    letter-spacing: -.14px;
}

.dashboard-controls {
    & {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;
    }

    .heading {
        margin-bottom: 7px;
    }
}

// Tablet XL -

@include xlt {
    .main {
        grid-template-columns: 28% auto;
    }

    .main-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .sidebar + .main-content {
        padding-left: 25px;
    }

    .sidebar {
        padding: 37px 18px;
    }
}


// Tablet L -

@include lt {
    .main {
        display: block;
    }

    .sidebar {
        padding: 15px 20px;
        display: grid;
        grid-template-columns: 1fr auto auto;
    }

    .sidebar + .main-content {
        padding: 20px;
    }

    .user-welcome {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .dashboard-container {
        padding: 20px;
    }
}

// Mobile -

@include md {
    .dashboard-controls {
        flex-direction: column;
        align-items: start;
    }

    .heading-filter {
        margin-bottom: 15px;
    }
}