include mixins.pug

.logo-component
    img.logo-component__img(src="../src/images/logo.svg", height="37", width="37" alt="Dashboard")
    span.logo-component__text Dashboard
    span.logo-component__version v.01
nav.navigation
    ul
        li.navigation__item Dashboard
            +icon('key-square3')
        li.navigation__item Product
            +icon('3d-square')
        li.navigation__item Customers
            +icon('user-square')
        li.navigation__item Income
            +icon('wallet-money')
        li.navigation__item Promote
            +icon('discount-shape')
        li.navigation__item Help
            +icon('message-question')
.user-info
    img.user-info__avatar(src="../src/images/avatar.png", alt="")
    .user-info__name Evano
    .user-info__post Project Manager
