extends layouts/two-columns-layout.pug
block vars
    - var title = 'All Customers';
block sidebar
    include includes/sidebar.pug
block content
    include includes/pages/customers.pug
block footer-links
    include includes/footer-links.pug