// Colors
$color-white: #FFF;
$color-gray-1: #EEE;
$color-gray-2: #F5F5F5;
$color-gray3: #F9FBFF;
$color-gray-4: #FAFBFF;
$color-gray-5: #B5B7C0;
$color-gray-6: #7E7E7E;
$color-gray-7: #838383;
$color-gray-8: #757575;
$color-gray-9: #404B52;
$color-gray-10: #292D32;
$color-black: #000;
$color-blue-1: #5932EA;
$color-blue-2: #9197B3;
$color-red: #DF0404;
$color-light-red: #FFC5C5;
$color-green-1: #008767;
$color-green-2: #16C098;
$color-green-3: #00B087;
$color-19: rgba($color-green-2, 38%);