// Headings

.heading {
    & {
        font-weight: 600;
        letter-spacing: -0.22px;
        margin-top: 0;
    }

    &--h1 {
        font-size: $heading-h1__font-size;
        margin-bottom: 20px;
    }

    &--h2 {
        font-size: $heading-h2__font-size;
        margin-bottom: 15px;
    }

    &--h3 {
        font-size: $heading-h3__font-size;
        margin-bottom: 10px;
    }
}