// Navigation

$navigation_link__padding: 11px;
$navigation_link__color: $color-blue-2;
$navigation_link-active__background-color: $color-blue-1;

.navigation {
    & {
        flex: 1;
    }

    &__list {
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 18px;
    }

    &__link {
        & {
            position: relative;
            display: flex;
            padding: $navigation_link__padding;
            color: $navigation_link--color;
            line-height: 24px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: -.14px;
            border-radius: 8px;
            transition: background-color .25s;
        }

        &:hover {
            color: $color-black;
        }

        &:hover .icon {
            fill: $color-black;
            transition: fill .25s;
        }

        &--active,
        &--active:hover {
            background-color: $navigation_link-active__background-color;
            color: $color-white;
        }

        &--active .icon {
            fill: $color-white;
        }

        &--active:hover .icon {
            fill: $color-black;
        }
    }

    &__link-arrow {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        fill: $navigation_link--color;
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        fill: $navigation_link--color;
    }
}